#include <Windows.h>
#include "resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 255, 294
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "STTPTime"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Add App",IDOK,185,22,50,14
    COMBOBOX        IDC_COMBO1,14,22,163,250,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "AMBATUKAM!!! PLACEHOLDER IM GONNA PUT GAME DATA HERE!",IDC_STATIC,21,54,213,213
END